.container {
	width: 750px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 150px);
	filter: drop-shadow(0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.5));
	.title {
		font-size: 50px;
		margin-bottom: 50px;
	}
	.water {
		font-size: 24px;
		margin-bottom: 50px;
		& > div {
			display: inline-block;
		}
	}
}
